
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: 180px;
    background-color: #fff;
    border-bottom: 2px solid rgba(53, 49, 49, 0.374);
}
.top-bar {
    height: 90px;
    width: 80%;
    float: right;
}

.logo {
    height: 70px;
    width: 79px;
    position: absolute;
    left: 95px;
    top: 63px;
}
.top-nav a {
    margin:  20px;
    text-decoration: none;
    color: rgba(3, 6, 9, 0.6);
    font-size: 14px;
    position:relative;
    top: 40px;
}

.bottom-bar {

    height: 90px;
    width: 80%;
    float: right;
}

.main-nav a {
    position:relative;
    top: 40px;
    margin:20px;
    text-decoration: none;
    color: #030609;
    font-size: 16px;
    font-weight: bold;
}

#location{
    position: relative;
    left: 400px;
    text-decoration: underline;
    color: #420cf5;
    
}
#search{
    position: relative;
    left:380px;
}
.top-nav button {
    background-color: #ffcc00;
    border: none;
    border-radius: 10px;
    padding:15px 5%;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 400px;

}
.container{
    display: flex;
}
.body-img,.body-text{
    flex: 1;
}
.body-img{
    width: 55%;
    flex: 2;
}
.body-text{
    
}
.body-img img{
    height: auto;
    width: 900px;
    margin: 70px;
}
#first-img{
    margin-top: 10px;
} 
h1{
    padding-top: 70px;
    font-weight: 800;
    font-size: 40px;
}  
h3{
    padding-top: 5px;
    font-weight: lighter;
    font-size: 20px;
}
p{
    font-size: smaller;
}
.app-order{
    background-color: #ffcc00;
    border: none;
    color: rgb(8, 6, 6);
    padding: 20px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;

}
.second-para{
    padding-top: 250px;
}
#third-image{
    padding-top: 100px;
}
#third-para{
    padding-top: 200px;
}
#fifth-para{
    padding-top: 150px;
}
#ninth-para{
    padding-top: 200px;
}
#table{
    width: 100%;
}
.tbody td{
    text-align: center;
    height: 30px;
}
.foot-footer{
    height: 100px;
    width: 100%;
    border-bottom: solid black;
    
}
.foot-footer img{
    height: 25px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#facebook{
    margin-left: 50px;
}
#appstore{
    padding-left: 900px;
}
.chappal a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    margin-left: 50px;
    height: 20px;
}
.chappal{
    display: flex;
    flex-wrap: wrap;
}

